*, *:after, *:before {
        transition: all .25s ease;
    }

    body {
        color: orangered;
        transition: background .25s ease;
    }

    h1 {
        position: fixed;        
        margin: 0;
        top: 30%;
        left : 50%;
        transform: translate(-50%, -50%);
        font-size: 5vw;
        text-align: center;
    }

    h1:after {
        content: attr(hex);
        display: block;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .clockdiv{
        position: fixed;
        top: 50%;
        left: 11.5%;
        font-size: 8vw;
    }

/*for future use*/
    .bar {
        border-top: .5vw solid darkgoldenrod;
        width: 100%;
        margin: 0 auto;
    }

    .pastMidnight{
        background-color: #bff;
        width:49.5%;
        height: 600px;
        display: inline-block;
    }

    .tillMidnight{
        background-color: #003;
        width:49.5%;
        height: 600px;
        display: inline-block;
        
    }